<div class="create-env">
  <form (ngSubmit)="createService()">

    <div class="mb-3">
      <label for="serviceName" class="form-label">Select Service</label>
      <select class="form-select" aria-label="Select Service" id="serviceName"
        [(ngModel)]="doc.name">
        <option *ngFor="let service of services" [value]="service">{{service |
          titlecase}}
        </option>
      </select>
    </div>
    <div class="mb-3">
      <label for="envType" class="form-label">Select Environment Type</label>
      <select class="form-select" aria-label="Select Environment Type"
        id="envType" [(ngModel)]="doc.envType">
        <option *ngFor="let evnType of envTypes" [value]="evnType">{{evnType}}
        </option>
      </select>
    </div>
    <div class="mb-3">
      <label for="ssl" class="form-label"> SSL/TLS </label>
      <select class="form-select" aria-label="ssl" id="ssl"
        [(ngModel)]="doc.ssl">
        <option [value]="true">Yes</option>
        <option [value]="false">No</option>
      </select>
    </div>
    <div class="mb-3">
      <label for="cluster" class="form-label"> Cluster </label>
      <select class="form-select" aria-label="Cluster" id="cluster"
        [(ngModel)]="doc.cluster">
        <option [value]="true">Yes</option>
        <option [value]="false">No</option>
      </select>
    </div>


    <!-- <div class="mb-3">
      <label for="envServices" class="form-label">Select Services</label>
      <ul class="lg list-group" id="envServices">
        <li class="lc-root list-group-item">
          <div class="lc-item services">Services</div>
          <div class="lc-item ssl">SSL</div>
          <div class="lc-item env-size">Env Size</div>
        </li>

        <li class="lc-root list-group-item"
          *ngFor="let service of services; let i = index">
          <div class="lc-item form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch"
              name="enableService" [id]="service+'Switch'"
              [(ngModel)]="doc.services[i].enabled">
            <label class="form-check-label"
              [for]="service+'Switch'">{{service}}</label>
          </div>
          <div class="lc-item form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch"
              name="enableSSL" id="sslSwitch" [(ngModel)]="doc.services[i].ssl">
            <label class="form-check-label" for="sslSwitch">SSL</label>
          </div>
          <div class="lc-item form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch"
              name="isProduction" id="envSizeSwitch"
              [(ngModel)]="doc.services[i].isProduction">
            <label class="form-check-label"
              for="envSizeSwitch">Production</label>
          </div>
        </li>
      </ul>
    </div> -->

    <div class="env-btn">
      <button class="btn btn-primary btn-sm" type="submit">Create
        Environment</button>
    </div>
  </form>

</div>
