<router-outlet></router-outlet>

<div class="container-fluid">
  <nav class="navbar bg-light mt-2">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img
          src="https://getbootstrap.com/docs/5.2/assets/brand/bootstrap-logo.svg"
          alt="Bootstrap" width="30" height="24" />
        AWS Control Framework
      </a>
      <div class="right-group">
      </div>
    </div>
  </nav>
  <div class="action-btn-group">
    <button class="btn btn-primary btn-sm action-btn" (click)="toggleModel()">
      Add Environment
    </button>
    <button class="btn btn-primary btn-sm action-btn"
      (click)="refreshBuild()">Refresh
      Build</button>
  </div>


  <div class="container">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Code</th>
          <th scope="col">Services</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of environments">
          <th scope="row">{{row.id}}</th>
          <td>{{row.name}}</td>
          <td>{{row.code}}</td>
          <td>
            <span *ngFor="let serivce of row.services"
              class="btn btn-success btn-sm rounded-pill chip">{{serivce}}</span>
            <span *ngIf="row.more" class="chip">...</span>
          </td>
          <td>
            <!-- <button class="btn btn-primary btn-sm chip">Edit</button> -->
            <button class="btn btn-primary btn-sm chip"
              [disabled]="row.deploying" (click)="deploy(row)">Deploy</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>


</div>



<div class="modal fade" id="createEnvModel" tabindex="-1"
  aria-labelledby="createEnvLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="createEnvLabel">Add Environment</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <app-create-env [submitHandler]="createEnvHandler"></app-create-env>
      </div>
    </div>
  </div>
</div>
